/*
Esto es un comentario
banderas.css
*/
#container {
    width: 800px;
    margin: 0 auto 0 auto;
}
#bloque1 {
  background-color: black;
    color: gray;
  height: 75px;
}
#bloque1:hover {
    background-color: pink;
}

#bloque2 {
  height: 175px;
background-color: aquamarine;
}

#bloque3 {
    border: 8px dashed pink;
    padding: 5px;
    margin-top: 10px;
    background-color: gray;
  color: white;
    text-align: center;
    font-size: 8px;
}